<!DOCTYPE html>
<html>
    <head>
        <title>Maven Selenium testrunner plugin - List</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <div id="content">
        	<h1>Maven Selenium testrunner plugin - List</h1>
       		<ul>
       			#foreach( $test in $tests )
				    <li>
				    	<a href="/TestRunner.html?baseUrl=$baseApplicationUrl&auto=true&test=/suite.action%3Ftest%3D$stringUtils.sub($test.path, $testSourceDirectory, '')&resultsUrl=/testresult/$stringUtils.sub($test.path, $testSourceDirectory, '')">
				    		$stringUtils.sub($test.path, $testSourceDirectory, '')
				    	</a>
				    </li>
				#end
			</ul>
       	</div>
    </body>
</html>
