<table id="suiteTable" cellpadding="1" cellspacing="1" border="1" width="100%">
    <tbody>
        <tr>
            <td>
                Maven Selenium testrunner plugin - List
            </td>
        </tr>
        <tr>
            <td>
                <a href="/test.action?test=$stringUtils.sub($test.path, $testSourceDirectory, '')">$test.name</a>
            </td>
        </tr>
    </tbody>
</table>
